// Color Variables
$primary-color: #f0e31f;
$secondary-color: #000000;
$text-color: #5c5c77;
$text-color-light: #8585a4;
$text-color-dark: #1e1e4b;
$body-color: #ffffff;
$border-color: #ededf1;
$black: #000000;
$white: #ffffff;
$light: #f8f9fe;
$gray: #f8f8f8;

// Font Variables
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'futura-bold';
$icon-font: 'themify';